<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
      <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
     <style>
        #map { height: 500px; }
     </style>

</head>
<body>
    <h1>Selamat Datang!</h1>
    <p>Ini adalah halaman welcome.</p>
    <div id="map"></div>
    <script>
        var map = L.map('map').setView([0.5824, 116.4350], 5);
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        var marker = L.marker([-6.402905, 106.778419]).addTo(map);
        
        var loi = {
  "type": "FeatureCollection",
  "features": [
    {
      "type": "Feature",
      "properties": {
        "nama": "Kampus B STT Terpadu Nurul Fikri"
      },
      "geometry": {
        "coordinates": [
          106.83268359133581,
          -6.352883261831593
        ],
        "type": "Point"
      },
      "id": 0
    }
  ]
};
    var geojson = L.geoJSON(loi,{
        onEachFeature: function(feature, layer) {
            if (feature.properties && feature.properties.nama) {
                layer.bindPopup(feature.properties.nama);
            }
        }
    }).addTo(map);


    </script>
</body>
</html>